body {
    background-image: 
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL7es3r8YLrtpbby2O4ljDc_GIq3NKiv10vA&usqp=CAU);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 80vw;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgb(72, 141, 226);
    text-align: center;
}

nav a {
    margin: 70px;
}

header {
    margin: 0;
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

a:visited { color: brown; } 

footer img {
    width: 20px;
    height: 20px;
}

#mycourse {
    display: grid;
    grid: repeat(6, 60px) / auto-flow 100px;
}

/* #identity::after {
    background-image: url("../images/myImage.jpeg");
    background-size: cover;
    display: inline-block;
} */