body {
    background-image: 
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL7es3r8YLrtpbby2O4ljDc_GIq3NKiv10vA&usqp=CAU);
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 80%;
}

nav p{
    background-color: rgb(72, 141, 226);
    z-index: 1;
    position: fixed;
}

nav a {
    display: flex;
    margin: 20px;
}

header {
    margin: 0;
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

a:visited { color: brown; } 

a[href="https://www.northeastern.edu/"] {
    position: relative;
    top: 20px;
}

#foot {
    position:relative;
    bottom: 0;
}
footer img {
    width: 20px;
    height: 20px;
}

#mycourse {
    display: grid;
    grid: repeat(6, 60px) / auto-flow 100px;
}

/* #identity::after {
    background-image: url("../images/myImage.jpeg");
    background-size: cover;
    display: inline-block;
} */

button {
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 2; */
}

.dark {
    background-image: none;
    background-color: rgb(33,33,33);
    color: aliceblue;
}

section {
    position: relative;
    top: 20px;
    left: 20px;
}

