doctype html 
html(lang="en") 
  head
    title= "Task Details" 
  body
    h1 You are viewing task #{id}
    p Task title is #{title}
    if completed 
        p task status: Completed 
    else 
        p task status: Not completed